
<!doctype html>
<html lang="en">
<head>
    <title>Mi Sensor Monitoring System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">Mi Sensor Monitoring System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sensors">Sensors</a>
          </li>
      </div>
    </div>
  </nav>

  <main class="container">
    <form action="/sensors" method="post">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">MAC</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% savedSensors.forEach(sensor => { %><tr>
            <th scope="row"><%= sensor.id %></th>
            <td><input type="text" class="form-control" name="input_name_<%= sensor.id %>" placeholder="Enter name ..." value="<%= sensor.name %>"></td>
            <td><input type="text" class="form-control" name="input_mac_<%= sensor.id %>" placeholder="Enter MAC ..." value="<%= sensor.mac %>"></td>
            <td>
              <button type="submit" class="btn btn-primary" name="action" value="edit_<%= sensor.id %>">Edit</button>
              <button type="submit" class="btn btn-danger" name="action" value="delete_<%= sensor.id %>">Delete</button>
            </td>
          </tr><% }); %>
          <tr>
            <th scope="row"><%= savedSensors.reduce((a, b) => a.id > b.id ? a : b).id + 1 %></th>
            <td><input type="text" class="form-control" name="input_name_new" placeholder="Enter name ..."></td>
            <td><input type="text" class="form-control" name="input_mac_new" placeholder="Enter MAC ..."></td>
            <td><button type="submit" class="btn btn-success" name="action" value="create_new">Create</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </main>
</body>
</html>